@import "tailwindcss";
@plugin "daisyui"

    {
    themes: light
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;


    /* CareerOstad Blue */
    --color-primary: #2563eb;

    /* Text on primary buttons */
    --color-primary-content: #ffffff;

    /* Accent Green */
    --color-secondary: #10b981;

    /* Text on secondary buttons */
    --color-secondary-content: #ffffff;

    /* Warning Amber */
    --color-accent: #f59e0b;

    /* Text on accent buttons */
    --color-accent-content: #1e293b;

    /* Medium Gray - secondary text */
    --color-neutral: #64748b;

    --color-neutral-content: #ffffff;

    /* Light Gray Background */
    --color-base-100: #f8fafc;

    /* Soft Border Gray */
    --color-base-200: #e2e8f0;

    /* Card or section background */
    --color-base-300: #ffffff;

    /* Deep Slate Gray - main text */
    --color-base-content: #1e293b;


    /* Status Colors */
    --color-success: #10b981;
    --color-success-content: #ffffff;

    --color-warning: #f59e0b;
    --color-warning-content: #1e293b;

    /* Standard error red */
    --color-error: #ef4444;

    --color-error-content: #ffffff;

    /* Optional border radius and sizes */
    --radius-btn: 0.5rem;
    --radius-input: 0.25rem;
    --border: 1px;
}



/* CSS for Navbar Start */
.menu-list li {
    /* padding: 10px 20px; */
    border-radius: 10px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.menu-list li a {
    width: 100%;
    display: block;
}

.sub-menu {
    animation: slowDown1 0.3s ease-out;
}

.icon {
    transition: 0.5s;
}

.dropdown:hover .icon {
    transform: rotate(270deg);
    /* background-color: #f306f3; */
    opacity: 1;
    transition: 0.5s;
}

.dropdown:hover .sub-menu {
    animation: slowDown 0.3s ease-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.sub-menu-list:hover {
    margin-left: 5px;
    transition: 0.5s ease-out;
}

.sub-menu-list:hover .go-icon {
    display: inline-block;
}

@keyframes slowDown {

    from {
        transform: rotate(-100deg);
        /* transform: translateY(-20px); */
        scale: 0;
    }

    to {
        transform: rotate(0deg);
        /* transform: translateY(0); */
        scale: 1;

    }
}

@keyframes slowDown1 {

    from {
        transform: rotate(0deg);
        /* transform: translateY(-10px); */
        scale: 1;

    }

    to {
        transform: rotate(-100deg);
        /* transform: translateY(-50px); */
        scale: 0;


    }
}

.social-area a .social-icon {
    transition: background-color 1s;
}

.social-area button {
    transition: background-color 1s;
    cursor: pointer;
    /* background-color: #f306f3; */
}

.side-panel-1 {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: slideIn .4s ease-in-out
}

@keyframes slideIn {
    from {
        translate: 150vw 0;
        /* opacity: 0; */
    }

    to {
        translate: 100 100;
        /* opacity: 1; */

    }
}

/* CSS for Navbar End */



body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom animations */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

/* .swal-toast-zindex {
    z-index: 2147483647 !important;
} */